body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: rgba(18, 18, 18, 0.9);
}

* {
    box-sizing: border-box;
}

/*                       Navbar Section Start                           */

/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: rgb(75, 75, 75);

}

.navbar_center{
 
max-width: 1100px;
margin: auto auto 20px auto;

}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 18px;
  color: rgb(219 219 219);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
  
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 18px;
  border: none;
  outline: none;
  color: rgb(219 219 219);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
  font-weight: bold;
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: rgba(18, 18, 18, 0.5);
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(75, 75, 75);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: rgb(219 219 219);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: rgba(18, 18, 18, 0.5);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  
} 

#nav_drdn {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

#nav_drdn li:hover {
  background-color: rgba(18, 18, 18, 0.5);
} 


#nav_drdn ul {
  position: absolute;
  padding: 0;
  left: 0;
  display: none;
  /* hides sublists */
}

#nav_drdn li:hover ul ul {
  display: none;
}

/* hides sub-sublists */

#nav_drdn li:hover ul {
  display: block;
  margin-left: 199px;
  margin-top: -46.5px;
  background-color: rgb(75, 75, 75);
  min-width: 199px;
  list-style: none;
  z-index: 1;
 
}

/*                       Navbar Section End                          */


/*                       blabla Section Start                          */
h1 {
    color: #eee;
    /* margin-bottom: 30px; */
    margin-bottom: 5px;
}
p1{
  color:#eee;
}


.container{
  display: grid;
  height: 100%;
  margin: 0 auto;
  max-width: 1050px;
  grid-template-rows: repeat(12, 30px);
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  
}


.title{
  padding-left: 10px;
  padding-right:10px;
  align-items: center;
  justify-content: center;
  text-align: center;
  grid-row: span 3;
  grid-column: span 4;
  /* border: 1px solid #eee;  */

  
}

.content_place{

  padding-top: 20px;
  padding-bottom: 20px;

  grid-row: span 10;
  grid-column: span 4;
   /* border: 1px solid #eee;  
  background: #4B4B4B ;  */
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-flow: wrap;
  
}

.todo_list, .contact{
  padding-left: 10px;
  padding-right:10px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  align-items: center;
  grid-row: span 6;
  grid-column: span 2;
  border: 1px solid #eee;  
  background: #4B4B4B
}


h2{
    border-bottom:1px solid #CCC;
    color:#eee;
    width:95%;
    float:left;
    padding-bottom:3px;
    margin: 0px 10px 0px 10px;
}

h3{
  border-top:1px solid #CCC;
  color:#eee;
  width:95%;
  float:left;
  padding-top:3px;
  margin: 0px 10px 0px 10px;
}

.tool1, .tool2{
  flex:1;
 padding: 10px 10px 10px 10px;
 margin-bottom: 10px;
  justify-content:center;
  background: #4B4B4B ; 
  margin-right: 5px;
  border: 1px solid #eee;   
}

.tool3{
 
 padding: 10px 10px 10px 10px;
 
  justify-content:center;
  background: #4B4B4B ; 
  margin-right: 5px;
  border: 1px solid #eee;   
}



ul{
  margin:0;
 
  padding-left: 30px;
  padding-top: 30px;
  color:#eee;
}

.list_contact{
  margin:0;
  padding-left: 10px;
  color:#eee;
}

 .tool_pic {

  text-align: center;
}



.linkgo {
  background-color: #4B4B4B;
  color: #eee;
  padding-left: 3px;
  padding-right:3px;
  text-decoration: none;
  
}

.linkgo:hover {
  background-color: rgb(41, 41, 41);
}

.linkgo:active {
  background-color: rgb(75, 75, 75);
}


.linkcontact {
  background-color: #4B4B4B;
  color: #eee;


}

.linkcontact:hover {
  background-color: rgb(41, 41, 41);
}

.linkcontact:active {
  background-color: rgb(75, 75, 75);
}




/* 
#Event_List {
  max-width: 1100px;
  margin: auto auto 20px auto;
  border: 1px solid #eaeaea;
 
}

div.Title {
  font-size: 30px;
  color: #eee;
  font-weight: bold;
  opacity:1;
  text-align: center;
}

.Eventnya { 
  background-color: rgba(255, 255, 255, 0.16);
  border-radius: 3px;
  margin: auto;
  width: 100%;
  padding: 10px; 
  justify-content: center; 
  align-items: center;
}

.Eventnya > ul{

  font-size: 25px;
  color: #eee;
  margin: 10px 5px 5px 5px;
}

.Eventnya  > ul > li{
  font-size: 18px;
  color: #eee;
}

.Eventnya > p1 { 
  font-size: 30px;
  color: #eee;
  font-weight: bold;
  opacity:1;
  text-align: left;

}

.Eventnya > p2 {
  font-size: 20px;
  color: #eee;
  font-weight: bold;
  opacity:1;

}

.box-listitem {
  display:inline-block;
  width:350px;
  vertical-align: top;
  justify-content: center; 
  align-items: center;
}

.box-listitem > ul{

  font-size: 25px;
  color: #eee;
  margin: 10px 5px 5px 5px;
}

.box-listitem  > ul > li{
  font-size: 18px;
  color: #eee;
} */

 /*                       blabla Section End                          */



  /*                       Footer Section End                           */
  .footer {
    
    left: 0;
    bottom: 0;
    margin-bottom:  5px;
    width: 100%;
    background-color: rgb(75, 75, 75);
    color: white;
    text-align: center;

    float: left;
    font-size: 12px;
    color: rgb(219 219 219);
    text-decoration: none;
    
 }
 /*                       Footer Section End                           */

/* 
 .iconer{
   position: absolute;
   right:47%;
   top:1.5%;
   border: 1px solid rgba(219, 219, 219, 0.5);   
   border-radius: 32px;
 }
  */

  

@media screen and (max-width: 640px) {

  .container{
    display: grid;
    height: 100%;
    margin: 0 auto;
    grid-template-rows: repeat(12, 30px);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    
  }
  
  
  .title{
    padding-left: 10px;
    padding-right:10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-row: span 3;
    grid-column: span 4;
    /* border: 1px solid #eee;  */
  
    
  }

  .content_place{

    padding-top: 20px;
    padding-bottom: 20px;
  
    grid-row: span 10;
    grid-column: span 4;
     /* border: 1px solid #eee;  
    background: #4B4B4B ;  */
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-flow: wrap;
    
  }
  
  .todo_list, .contact{
    padding-left: 10px;
    padding-right:10px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    align-items: center;
    grid-row: span 6;
    grid-column: span 2;
    border: 1px solid #eee;  
    background: #4B4B4B
  }
  
  
  h2{
      border-bottom:1px solid #CCC;
      color:#eee;
      width:95%;
      float:left;
      padding-bottom:3px;
      margin: 0px 10px 0px 10px;
  }
  
  h3{
    border-top:1px solid #CCC;
    color:#eee;
    width:95%;
    float:left;
    padding-top:3px;
    margin: 0px 10px 0px 10px;
  }
  
  img{
    width: 100%;
    height: 240px;
  }

  .tool1, .tool2{
   
   padding: 10px 10px 10px 10px;
   margin: 0 5px 10px 0px;
    justify-content:center;
    background: #4B4B4B ; 
    border: 1px solid #eee;   

  }
  
  .tool3{
   
   padding: 10px 10px 10px 10px;
   
    justify-content:center;
    background: #4B4B4B ; 
    
    border: 1px solid #eee;   
  }
  
  
  
  ul{
    margin:0;
   
    padding-left: 30px;
    padding-top: 30px;
    color:#eee;
  }
  
  .list_contact{
    margin:0;
    padding-left: 10px;
    color:#eee;
  }
  
   .tool_pic {

    text-align: center;
  }
  
  
  
  .linkgo {
    background-color: #4B4B4B;
    color: #eee;
    padding-left: 3px;
    padding-right:3px;
    text-decoration: none;
    
  }
  
  .linkgo:hover {
    background-color: rgb(41, 41, 41);
  }
  
  .linkgo:active {
    background-color: rgb(75, 75, 75);
  }
  
  
  .linkcontact {
    background-color: #4B4B4B;
    color: #eee;
  
  
  }
  
  .linkcontact:hover {
    background-color: rgb(41, 41, 41);
  }
  
  .linkcontact:active {
    background-color: rgb(75, 75, 75);
  }
  

}